<nav>
    <% if @num_pages > 1 %>
        <%= link_to_search_page "First", 1 %>
        <% if @page > 1 %>
            <%= link_to_search_page "Previous", @page-1 %>
        <% end %>
        <% (1..@num_pages).each do |num| %>
            <% if @page == num %>
                <span class='current'><%= @page %></span>
            <% else %>
                <%=link_to_search_page num, num %>
            <% end %>
        <% end %>
       <% if @page < @num_pages %>
            <%= link_to_search_page "Next", @page+1 %>
        <% end %>
        <%= link_to_search_page "Last", @num_pages %>
    <% end %>
</nav>
