<h3>Github Search</h3>
<div id='login_panel' class='panel'>
    <% if @user %>
        <p>
            Id: <%= @user.id %>
            <br/>
            User: <%= @user.name %>
            <br/>
            Email: <%= @user.email %>
            <br/>
            <% if @github_user %>
                GitHub Login: <%= @github_user.login %>
            <% end %>
            <p>
                <%= link_to "Log Out", logout_url %>
            </p>
        </p>
    <% else %>
        <%= link_to "Log In", login_url %>
    <% end %>
</div>
<div id='search_panel' class='panel'>
    <%= form_tag '/', :method => 'get' do %>
        <%= label_tag :query, "Search GitHub:" %>
        <%= text_field_tag :query, @query  %>
        <%= submit_tag "Search" %>
    <% end %>

    <% if @results and not @results.items.empty?  %>
        <p>Got <%= pluralize @results.total_count, 'result' %>, in <%= pluralize @num_pages, 'page' %></p>
        <%= render partial: "nav_pages", locals: {page: @page,
                                                  pages: @num_pages,
                                                  per_page: @per_page} %>
        <ul id='results_list'>
            <% @results.items.each do |repo| %>
                <%= render partial: "search_result", locals: {repo: repo} %>
            <% end %>
        </ul>
        <%= render partial: "nav_pages", locals: {page: @page,
                                                  pages: @num_pages,
                                                  per_page: @per_page} %>
    <% elsif not @query.empty? and @results.items.empty? %>
       <p>I guess that just doesn't exist...</p>
    <% end %>
</div>
