<h3>Github Search</h3>
<div id='login_panel' class='panel'>
    <% if @user %>
        <p>
            Id: <%= @user.id %>
            <br/>
            User: <%= @user.name %>
            <br/>
            Email: <%= @user.email %>
            <br/>
            <% if @github_user %>
                GitHub Login: <%= @github_user.login %>
            <% end %>
            <p>
                <%= link_to "Log Out", logout_url %>
            </p>
        </p>
    <% else %>
        <%= link_to "Log In", login_url %>
    <% end %>
</div>
<div id='search_panel' class='panel'>
    <%= form_tag '/', :method => 'get' do %>
        <%= label_tag :query, "Search GitHub:" %>
        <%= text_field_tag :query, @query  %>
        <%= submit_tag "Search" %>
    <% end %>

    <% if not @results.empty? %>
        <ul id='results_list'>
            <% @results.items.each do |repo| %>
                <li>
                    <span class='name'><%= repo.name %></span>
                    <span class='owner'><%= repo.owner.login %></span>
                    <span class='url'><%= repo.html_url %></span>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>
